# /home/sam069/projects/SportyDataFeeder/.env.example
DATABASE_URL=postgresql://neondb_owner:npg_fO5nNzYcZm3y@ep-crimson-paper-akak32va.c-3.us-west-2.aws.neon.tech/neondb?sslmode=require
REDIS_URL=redis://localhost:6379/1
